<a href="https://colab.research.google.com/github/felicia2602/trial/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [20]:
!mkdir coba
!wget -P coba/ https://raw.githubusercontent.com/felicia2602/trial/main/data_produk.csv

mkdir: cannot create directory ‘coba’: File exists
--2022-09-23 05:06:35--  https://raw.githubusercontent.com/felicia2602/trial/main/data_produk.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2888848 (2.8M) [text/plain]
Saving to: ‘coba/data_produk.csv.4’

data_produk.csv.4   100%[===================>]   2.75M  --.-KB/s    in 0.01s

2022-09-23 05:06:35 (260 MB/s) - ‘coba/data_produk.csv.4’ saved [2888848/2888848]

In [22]:
df = pd.read_csv('coba/data_produk.csv')

In [23]:
df

,Kode,Kategori,Jumlah Penjual,Rating,Jumlah Review,Harga
0,KFB07RRDR4PQ,Camera & Photo,5 penjual,NaN,"3,151",IDR 459992.20749999996
1,KFB086QN7BBQ,"Clothing, Shoes & Jewelry",1 penjual,NaN,"55,550",199583.99000000002 Rupiah
2,KFB004RMK57U,NaN,1 penjual,4.8,"15,144",359337.45749999996 Rupiah
3,KFB07JCJMPVN,NaN,2 Penjual,4.6,"66,237",208067.7475 Rupiah
4,KFB01ALLT2W4,Video Games,NaN,4.6,"13,921",316199.70749999996
...,...,...,...,...,...,...
50276,KFB089D4BNRY,Video Games,2 yg jual,NaN,"1,125",244303.4575 Rupiah
50277,KFB08F7PTF53,Video Games,NaN,4.8,"49,200",4299395.75
50278,KFB07RNNFLNT,Gift Cards,1 yg jual,4.8,NaN,718962.5
50279,KF1647397294,Books,1 Penjual,4.7,"4,439",NaN
50280,KFB07KL1WLG6,"Clothing, Shoes & Jewelry",3 yg jual,NaN,"59,521",157884.165

In [ ]:
# Importing CSV data  https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html
try:
    # Running Locally 
    price = pd.read_csv('data/price.csv')
except:
    # Running in Google Colab
    !mkdir data
    !wget -P data/ https://raw.githubusercontent.com/taudata-indonesia/eLearning/master/data/price.csv
    price = pd.read_csv('data/price.csv')